@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"] </h1>

<p>
    Hello world! I am Bibek Maharjan from Harisiddhi-28, Lalitpur. 
    Currently, I am studying BSC.CSIT at Academia International College.
</p>
